@import "../../styles/colors.scss";

form {
  display: flex;
  width: 100%;
  position: relative;

  .input-add {
    color: $white-color;
    padding: 14px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: $secundary-color;
    border: none;
    outline: none;
  }

  ::placeholder {
    color: #e4e4e4;
  }

  button {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 2;
    border-radius: 10px;
    background-color: $fourth-color;
    padding: 11px 21px;
    transform: translateX(2px);
    font-size: 20px;
    border: none;
    color: $white-color;
  }
}
