@import "./styles/colors.scss";
@import "./styles/fonts.scss";
.container-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: $white-color;
  background-image: linear-gradient(
    to right top,
    #7858a6,
    #674892,
    #57397e,
    #472a6b,
    #371b58
  );

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $font-poppins;
    height: 100vh;
    width: 100%;
  }

  footer {
    background-color: $fourth-color;
    padding: 10px;
  }
}
